/* https://tests.christianoliff.com/hex-to-css-filter-generator/ for filter color */

.color {
    --background-color: var(--color21-bg-color);
    --foreground-color: var(--color21-fg-color);
    --background-color-filter: var(--color21-bg-color-filter);

    /* https://vanschneider.com/colors */
    --color24-bg-color: #eec0db;
    --color24-fg-color: #162bf4;
    --color24-bg-color-filter: invert(81%) sepia(7%) saturate(2011%) hue-rotate(295deg) brightness(110%) contrast(87%);

    --color21-bg-color: #f1c3b8;
    --color21-fg-color: #18227d;
    --color21-bg-color-filter: invert(90%) sepia(15%) saturate(1244%) hue-rotate(305deg) brightness(101%) contrast(89%);
/*invert(13%) sepia(34%) saturate(6640%) hue-rotate(232deg) brightness(84%) contrast(103%);*/

    --color31-bg-color: #1b1d1c;
    --color31-fg-color: #ea1721;
    --color31-bg-color-filter: invert(6%) sepia(7%) saturate(589%) hue-rotate(98deg) brightness(92%) contrast(87%);

    --color37-bg-color: #eed974;
    --color37-fg-color: #28292b;
    --color37-bg-color-filter: invert(87%) sepia(39%) saturate(524%) hue-rotate(354deg) brightness(97%) contrast(91%); /* loss: 0.1 */

    --color68-bg-color: #f8ebee;
    --color68-fg-color: #0b3934;
    --color68-bg-color-filter: invert(89%) sepia(9%) saturate(222%) hue-rotate(300deg) brightness(107%) contrast(95%); /* loss: 0.2 */

    --color79-bg-color: #d27d78;
    --color79-fg-color: #121738;
    --color79-bg-color-filter: invert(56%) sepia(15%) saturate(1218%) hue-rotate(315deg) brightness(98%) contrast(89%); /* loss: 0.1 */

    --color87-bg-color: #e3e3e3;
    --color87-fg-color: #a68a73;
    --color87-bg-color-filter: invert(99%) sepia(6%) saturate(307%) hue-rotate(285deg) brightness(115%) contrast(78%);

    --color92-bg-color: #384d9d;
    --color92-fg-color: #f6f3eb;
    --color92-bg-color-filter: invert(27%) sepia(49%) saturate(984%) hue-rotate(194deg) brightness(99%) contrast(94%);

    --color99-bg-color: #96d0ff;
    --color99-fg-color: #a46799;
    --color99-bg-color-filter: invert(91%) sepia(21%) saturate(5257%) hue-rotate(178deg) brightness(102%) contrast(102%);

    --color108-bg-color: #98c1ae;
    --color108-fg-color: #337e81;
    --color108-bg-color-filter: invert(89%) sepia(22%) saturate(307%) hue-rotate(98deg) brightness(81%) contrast(86%);

    --color116-bg-color: #79ddf2;
    --color116-fg-color: #00346d;
    --color116-bg-color-filter: invert(83%) sepia(17%) saturate(1412%) hue-rotate(157deg) brightness(101%) contrast(90%);
}

.loading.color {
    --background-color: #222;
    --foreground-color: #444;
    --background-color-filter: invert(14%) sepia(0%) saturate(46%) hue-rotate(136deg) brightness(100%) contrast(101%);
}

/*.color {*/
/*    --background-color: #FFF;*/
/*    --foreground-color: #000;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    .color {*/
/*        --background-color: #eec0db;!*#080808;*!*/
/*        --foreground-color: #162bf4;*/
/*    }*/
/*}*/