/* https://tests.christianoliff.com/hex-to-css-filter-generator/ for filter color */

.color {
    --background-color: var(--color21-bg-color);
    --foreground-color: var(--color21-fg-color);
    --background-color-filter: var(--color21-bg-color-filter);

    /* https://vanschneider.com/colors */
    --color24-bg-color: #eec0db;
    --color24-fg-color: #162bf4;
    --color24-bg-color-filter: invert(81%) sepia(7%) saturate(2011%) hue-rotate(295deg) brightness(110%) contrast(87%);

    --color21-bg-color: #f1c3b8;
    --color21-fg-color: #18227d;
    --color21-bg-color-filter: invert(90%) sepia(15%) saturate(1244%) hue-rotate(305deg) brightness(101%) contrast(89%);
}

.loading.color {
    --background-color: #222;
    --foreground-color: #444;
    --background-color-filter: invert(14%) sepia(0%) saturate(46%) hue-rotate(136deg) brightness(100%) contrast(101%);
}

/*.color {*/
/*    --background-color: #FFF;*/
/*    --foreground-color: #000;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    .color {*/
/*        --background-color: #eec0db;!*#080808;*!*/
/*        --foreground-color: #162bf4;*/
/*    }*/
/*}*/