.color {
    --background-color: #FFF;
    --foreground-color: #000;
}

@media (prefers-color-scheme: dark) {
    .color {
        --background-color: #eec0db;/*#080808;*/
        --foreground-color: #162bf4;
    }
}