.color {
    --background-color: #FFF;
    --foreground-color: #000;
}

@media (prefers-color-scheme: dark) {
    .color {
        --background-color: #080808;
        --foreground-color: #FFF;
    }
}