body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: var(--background-color);
    transition: background-color 1s;

    --dash-bg-position-x1-from: 0;
    --dash-bg-position-x2-from: calc(min(4vw, 4vh) * 50);
    --dash-bg-position-x1-to: calc(min(4vw, 4vh) * 50);
    --dash-bg-position-x2-to: 0;
    --dash-switch-display-duration: 2s;
}

/* background div */

#bg-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#rect-shape, #bg-border {
    position: absolute;
    width: calc(100vh + 100vw);
    height: min(85vh, 85vw);
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(-20deg);
    background-color: var(--foreground-color);
    transition: background-color 1s;
}

#bg-border {
    height: calc(min(85vh, 85vw) - min(4vw, 4vh));
    background: linear-gradient(90deg, black 50%, transparent 50%) repeat-x, linear-gradient(90deg, black 50%, transparent 50%) repeat-x;
    filter: var(--background-color-filter);
    background-size: min(4vw, 4vh) min(6vw, 6vh), min(4vw, 4vh) min(6vw, 6vh);
    animation: dash-animation 1s infinite linear;
    transition: filter 1s;
}

#bg-border.switch-display {
    animation: dash-switch-display var(--dash-switch-display-duration) cubic-bezier(1, 0.04, 0, 0.96);
}

@keyframes dash-animation {
    from {
        background-position: 0 0, min(4vw, 4vh) 100%;
    }
    to {
        background-position: min(4vw, 4vh) 0, 0 100%;
    }
}

@keyframes dash-switch-display {
    from {
        background-position: var(--dash-bg-position-x1-from) 0, var(--dash-bg-position-x2-from) 100%;
    }
    to {
        background-position: var(--dash-bg-position-x1-to) 0, var(--dash-bg-position-x2-to) 100%;
    }
}

/* display div */

#display-div.disappear {
    animation: none;
    transform: translate(max(-100vw, calc(-100vh / 0.364)), min(100vh, calc(100vw * 0.364))); /* tan20° = 0.364 */
    transition: transform 1s cubic-bezier(1, 0, 1, 1);
}

#right-arrow-wrapper.disappear {
    animation: none;
    transform: translate(min(100vw, calc(100vh / 0.364)), max(-100vh, calc(-100vw * 0.364))); /* tan20° = 0.364 */
    transition: transform 1s cubic-bezier(1, 0, 1, 1);
}

#display-div {
    animation: down-appear 1s cubic-bezier(0, 0, 0, 1);
}

#right-arrow-wrapper {
    animation: up-appear 1s cubic-bezier(0, 0, 0, 1);
}

@keyframes down-appear {
    from {
        transform: translate(min(100vw, calc(100vh / 0.364)), max(-100vh, calc(-100vw * 0.364))); /* tan20° = 0.364 */
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes up-appear {
    from {
        transform: translate(max(-100vw, calc(-100vh / 0.364)), min(100vh, calc(100vw * 0.364))); /* tan20° = 0.364 */
    }
    to {
        transform: translate(0, 0);
    }
}

#display-div {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#welcome-words {
    margin: auto;
    font: min(8vw, 8vh) Recursive;
    transform: rotate(-20deg);
    display: none;
    /*https://www.recursive.design/ var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV)*/
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
    color: var(--background-color);
    transition: color 1s;
}

#welcome-words.show {
    display: block;
}

#welcome-words span {
    font-size: min(25vw, 25vh);
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}

#welcome-words.paused, #welcome-words.paused span {
    animation-play-state: paused;
}

@keyframes welcome-word-animation {
    30% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
    55% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    75% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    100% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
}

/* interaction div */

#right-arrow {
    position: absolute;
    width: calc(100vh + 100vw);
    height: max(100vh, 100vw);
    color: var(--foreground-color);
    transition: color 1s, font-variation-settings 0.3s;
    /* sin20° = 0.342, cos20° = 0.94 */
    --right-arrow-offset-x: calc(min(20vh, 20vw) * 0.94);
    --right-arrow-offset-y: calc(min(20vh, 20vw) * -0.342);
    transform: translate(calc(50vw - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.342 + var(--right-arrow-offset-x)),
               calc(50vh - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.94 + var(--right-arrow-offset-y))) rotate(-20deg);
    text-align: center;
    cursor: pointer;
    z-index: 10;
    font: min(16vw, 16vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "slnt" 0, "CRSV" 0.5;
    font-variant-ligatures: discretionary-ligatures;
    animation: right-arrow-dance 1s infinite ease-in-out alternate;
}

#right-arrow.disabled {
    pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
    #right-arrow:hover {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
}

#right-arrow.on-touch {
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
}

@keyframes right-arrow-dance {
    from {
        transform: translate(calc(50vw - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.342 + var(--right-arrow-offset-x) * 0.96),
        calc(50vh - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.94 + var(--right-arrow-offset-y) * 0.96)) rotate(-20deg);
    }
    to {
        transform: translate(calc(50vw - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.342 + var(--right-arrow-offset-x) * 1.04),
        calc(50vh - 50% + (min(42.5vh, 42.5vw) + max(50vh, 50vw)) * 0.94 + var(--right-arrow-offset-y) * 1.04)) rotate(-20deg);
    }
}
