body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: var(--background-color);
    transition: background-color 1s;

    --dash-bg-position-x1-from: 0;
    --dash-bg-position-x2-from: calc(min(4vw, 4vh) * 20);
    --dash-bg-position-x1-to: calc(min(4vw, 4vh) * 20);
    --dash-bg-position-x2-to: 0;
    --dash-switch-display-duration: 2s;
}

#bg-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#rect-shape, #bg-border {
    position: absolute;
    width: calc(100vh + 100vw);
    height: 85vh;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(-20deg);
    background-color: var(--foreground-color);
    transition: background-color 1s;
}

#bg-border {
    height: calc(85vh - min(4vw, 4vh));
    background: linear-gradient(90deg, black 50%, transparent 50%) repeat-x, linear-gradient(90deg, black 50%, transparent 50%) repeat-x;
    filter: var(--background-color-filter);
    background-size: min(4vw, 4vh) min(6vw, 6vh), min(4vw, 4vh) min(6vw, 6vh);
    animation: dash-animation 1s infinite linear;
    transition: filter 1s;
}

#bg-border.switch-display {
    animation: dash-switch-display var(--dash-switch-display-duration) cubic-bezier(1, 0.1, 0, 0.9);
}

@keyframes dash-animation {
    0% {
        background-position: 0 0, min(4vw, 4vh) 100%;
    }
    100% {
        background-position: min(4vw, 4vh) 0, 0 100%;
    }
}

@keyframes dash-switch-display {
    0% {
        background-position: var(--dash-bg-position-x1-from) 0, var(--dash-bg-position-x2-from) 100%;
    }
    100% {
        background-position: var(--dash-bg-position-x1-to) 0, var(--dash-bg-position-x2-to) 100%;
    }
}

#display-div.disappear {
    transform: translate(max(-100vw, calc(-100vh / 0.364)), min(100vh, calc(100vw * 0.364))); /* tan20° = 0.364 */
    transition: transform 1s cubic-bezier(1, 0, 1, 1);
}

#display-div.appear {
    transform: translate(0, 0);
    transition: transform 1s cubic-bezier(0, 0, 0, 1.1);
}

#display-div {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate(min(100vw, calc(100vh / 0.364)), max(-100vh, calc(-100vw * 0.364))); /* tan20° = 0.364 */
}

#display-div #welcome-words {
    margin: auto;
    font: min(8vw, 8vh) Recursive;
    transform: rotate(-20deg);
    /*https://www.recursive.design/ var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV)*/
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
    color: var(--background-color);
    transition: color 1s;
}

#display-div #welcome-words span {
    font-size: min(25vw, 25vh);
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}

@keyframes welcome-word-animation {
    30% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
    55% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    75% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    100% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
}

/*.content {*/
/*    margin: auto;*/
/*    font: 4vw Recursive;*/
/*    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 540, "slnt" 0, "CRSV" 0.5;*/
/*    transition: font-variation-settings 0.5s ease-in-out;*/
/*    color: var(--foreground-color);*/
/*}*/

/*.h100 {*/
/*    position: relative;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/
