/* Global */

#display-div p, #display-div a {
    color: var(--background-color);
    transition: font-variation-settings 0.3s, color 1s;
}

@media (hover: hover) and (pointer: fine) {
    #display-div a.highlight:hover {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
}

#display-div a.highlight.on-touch {
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
}

.display-item {
    margin: auto;
    transform: rotate(-20deg);
    display: none;
}

.display-item.show {
    display: flex;
    flex-direction: column;
}


/* Page 1: welcome words */

#welcome-words {
    font: min(8vw, 8vh) Recursive;
    /*https://www.recursive.design/ var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV)*/
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}

#welcome-words span {
    font-size: min(25vw, 25vh);
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}

#welcome-words.paused, #welcome-words.paused span {
    animation-play-state: paused;
}

@keyframes welcome-word-animation {
    30% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
    55% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    75% {
        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 400, "slnt" 0, "CRSV" 0.5;
    }
    100% {
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    }
}


/* Page 2: say hi */

#say-hi p {
    font: min(7vw, 7vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "slnt" 0, "CRSV" 0.5;
    text-align: center;
    margin-top: min(4vw, 4vh);
    margin-bottom: min(8vw, 8vh);
}

#say-hi p a {
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "slnt" -15, "CRSV" 0.5;
}

#say-hi-social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.say-hi-item {
    margin: min(4vw, 4vh);
}

.say-hi-item img {
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    filter: var(--background-color-filter);
    transition: filter 1s;
}


/* Page 3: welcome words 2 */

#welcome-words2 {
    font: min(7vw, 7vh) Recursive;
    line-height: 150%;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}


/* Story item */

.story-item img {
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    filter: var(--background-color-filter);
    transition: filter 1s;
    margin: min(4vw, 4vh) auto;
}

.story-item p, .story-item a {
    text-align: center;
    margin-top: min(4vw, 4vh);
    margin-bottom: min(4vw, 4vh);
}

.story-item p {
    font: min(5vw, 5vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
}

.story-item a {
    font: min(5vw, 5vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "slnt" -15, "CRSV" 0.5;
}


/* Page 4: travel blog */


/* Page 5: Our Products */


/* Page 6: My First Book Notes */

#my-first-book-notes img {
    width: min(20vw, 20vh);
    height: auto;
    filter: none;
}


/* Page: to be continued */

#to-be-continued {
    font: min(7vw, 7vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    animation: welcome-word-animation 20s infinite ease-in-out forwards;
}


/* Page last: foot */

#foot p, #foot a {
    text-align: center;
}

#foot p#foot-inspired {
    font: min(4vw, 4vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 800, "slnt" 0, "CRSV" 0.5;
    margin-top: min(4vw, 4vh);
    margin-bottom: min(4vw, 4vh);
}

#foot a.foot-inspired-item {
    font: min(3vw, 3vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 600, "slnt" -15, "CRSV" 0.5;
    margin-top: min(2vw, 2vh);
    margin-bottom: min(2vw, 2vh);
}

#foot p#foot-copyright {
    font: min(4vw, 4vh) Recursive;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" 0, "CRSV" 0.5;
    margin-top: min(8vw, 8vh);
    margin-bottom: min(4vw, 4vh);
}

